body {
background-color: #dddddd;    
h1 {
    color: eeeeee;
}


}
.nav_style {
    margin-bottom: 20px;
    padding: 10px;
}
nav a{
    background-color: brown;
    color: silver;
    padding: 10px;
    
}
.a_style:hover {
    font-size: 40px;
    color: #000000;
}

img
{
    size: 50%;
    height: 300;
    width: 400;
}